<form ngForm #myForm="ngForm">
    VIN: <br/>
    <input type="text" name="veh_vin" #vin="ngModel" [ngModel]="vehicle.vin" ngModel required minlength="3"/>
    <span class="error" *ngIf="vin.invalid && vin.dirty">Must be 3 characters</span>
    <br/>
    Year: <br/>
    <input type="text" name="veh_year" [ngModel]="vehicle.year" ngModel required /><br/>
    Make: <br/>
    <input type="text" name="veh_make" [ngModel]="vehicle.make" ngModel required /><br/>
    Model: <br/>
    <input type="text" name="veh_model" [ngModel]="vehicle.model" ngModel required /><br/>
    Mileage: <br/>
    <input type="text" name="veh_mileage" [ngModel]="vehicle.mileage" ngModel required /><br/>
    Price: <br/>
    <input type="text" name="veh_price" [ngModel]="vehicle.price" ngModel required /><br/>
    <label>
        <input type="checkbox" name="veh_featured" [ngModel]="vehicle.featured" ngModel /><br/>    
        Featured vehicle
    </label>
    <br/>
    <p *ngIf="myForm.invalid" class="error">Please enter valid values.</p>
    <button (click)="handleSubmit(myForm)"
    [disabled]="myForm.invalid">Submit</button>
    <button *ngIf="cancel" (click)="handleCancel()">Cancel</button>

</form>